
.card-section {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-clr);
}

.card-container-wrapper {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 35%;
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  background-image: url(./../images/about/offerBG1_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card-image {
  width: 40%;
  position: relative;
  z-index: 2;
}

.card-image img {
  max-width: 100%;
  display: block;
  height: auto;
}

.card-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card-content h6 {
  font-size: 12px;
  font-weight: 900;
  color: var(--primary-clr);
}

.card-content h3 {
  font-size: 24px;
  font-weight: 900;
  color: white;
}

.card-content p {
  font-size: 12px;
  font-weight: 900;
  color: var(--orange-bg-clr);
  font-family: "Epilogue", sans-serif;
  margin-bottom: 10px;
}

.card-content a {
  /* width: %; */
  padding: 13px 25px;
  font-size: 14px;
  font-weight: 400;
  border: 0.8px solid var(--primary-clr);
  display: flex;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--primary-clr);
}

.card:nth-child(2) a {
  background-color: var(--orange-bg-clr);
}

.card-sliding-img {
  position: absolute;
  top: 0;
  right: 40px;
  animation: sliding-img 1.2s linear alternate infinite;
}

@keyframes sliding-img {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(40px);
  }
}

/* About us section */

.aboutus-section {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-clr);
  position: relative;
}

.aboutus-container-wrapper {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  gap: 70px;
}

.img-container {
  width: 60%;
  margin-left: -250px;
}

.img-container img {
  max-width: 120%;
  display: block;
  height: auto;
}

.content-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
  z-index: 2;
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}
.section-title .subtitle {
  font-size: 16px;
  font-weight: 700;
  color: var(--orange-bg-clr);
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

.section-title .main-heading {
  font-size: 40px;
  font-weight: 900;
  color: black;
  line-height: 1.2;
}

.section-title .description {
  font-size: 16px;
  color: var(--light-gray-clr);
  line-height: 1.7;
  margin-top: 5px;
  font-weight: 400;
}

.features-grid {
  display: flex;
  border-top: 1px solid var(--light-gray-clr);
  border-bottom: 1px solid var(--light-gray-clr);
  padding-top: 30px;
}

.feature-box {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 45%;
  padding: 10px 20px 10px 0px;
}

.feature-box:nth-of-type(2) {
  padding-left: 20px;
  border-left: 1px solid var(--light-gray-clr);
}

.feature-box .icon {
  width: 15%;
}

.feature-box h4 {
  font-size: 20px;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}

.feature-box p {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-gray-clr);
  line-height: 1.8;
}

.about-side-img {
  position: absolute;
  right: 0;
  top: 10%;
}












/* Marquee Section */

.marquee-section {
  width: 100%;
  padding: 50px 0px;
  background-color: var(--secondary-bg-clr);
}

/* 80 700 */

.marquee-wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.marquee-slider {
  display: flex;
  gap: 80px;
  position: relative;
  width: max-content;
  animation: scroll-left 60s linear infinite;
}

.marquee-item {
  font-size: 80px;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  color: #bcb8b1;
}

@keyframes scroll-left {
  form {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 40px));
  }
}









/*  special Deal Container */

.offer-section {
  width: 100%;
  background-image: url(./../images/about/ctaBG1_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.offer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 100px 0;
}

.offer-image {
  width: 60%;
  position: relative;
  z-index: 2;
}

.offer-image img {
  max-width: 100%;
  display: block;
  height: auto;
}

.offer-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  z-index: 2;
}

.offer-content h6 {
  font-size: 20px;
  font-weight: 900;
  color: var(--primary-clr);
}

.offer-content h3 {
  font-size: 48px;
  font-weight: 900;
  color: white;
}

.offer-content p {
  font-size: 24px;
  font-weight: 700;
  color: var(--orange-bg-clr);
  font-family: "Epilogue", sans-serif;
}

.offer-content a {
  padding: 13px 25px;
  font-size: 14px;
  font-weight: 400;
  border: 0.8px solid var(--primary-clr);
  display: flex;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--primary-clr);
}

.offer-tl-img,
.offer-bl-img,
.offer-br-img {
  position: absolute;
}

.offer-tl-img {
  top: 5px;
  left: 0;
}
.offer-bl-img {
  bottom: 5px;
  left: 0;
}
.offer-br-img {
  bottom: 5px;
  right: 0;
}

/* General team section styling */
.team-section {
  background: #f8f4ed;
  padding: 80px 20px;
  text-align: center;
}

.team-section .subtitle {
  color: var(--orange-bg-clr, #ff7a00);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.team-section .main-title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
  color: #06142e;
}

/* Card Wrapper */
.card-wrapper {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 180px;
}

.chef-card-container{
  width: 350px;
  height: 600px;
}
/* Chef Card */
.chef-card {
  background: #fff;
  border-radius: 120px 120px 0 0;
  width: 100%;
  height: 300px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.chef-card:hover {
  transform: translateY(-5px);
}

/* Chef Image */
.chef-img {
  position: absolute;
  top: -170px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-radius: 80px 80px 0 0;
  overflow: hidden;
  z-index: 2;
}

.chef-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Social Icons */
.chef-card .icon {
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff7a00;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  font-size: 14px;
  gap: 10px;
}

.chef-card .icon a {
  color: white;
  padding: 6px;
  transition: color 0.3s ease;
}

.chef-card .icon a:hover {
  color: #06142e;
}

/* Card Content */
.chef-content {
  margin-top: 100px;
  z-index: 1;
  position: relative;
}

.chef-content h3 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #06142e;
  font-weight: 700;
}

.chef-content p {
  font-size: 16px;
  font-weight: 400;
  color: var(--light-gray-clr);
}





/* about Logo Slider */
.logo-slider {
  max-width: 1400px;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  overflow: hidden;
  position: relative;
  margin-top: -150px;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
  gap: 100px;
}

.logo-track:hover {
  animation-play-state: paused;
}

.logo-track img {
  width: 20%;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s ease;
}

.logo-track img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 50px));
  }
}










/* About News section */

.food-news-section {
  width: 100%;
  background: #f8f4ed;
  min-height: 100vh;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.main-title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-title-area .subtitle {
  font-size: 16px;
  font-weight: 700;
  color: var(--orange-bg-clr);
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Epilogue", sans-serif;
}

.main-title-area h2 {
  font-size: 40px;
  font-weight: 900;
}

.news-cards-wrapper {
  width: 1250px;
  overflow: hidden;
  margin: auto;
}

.news-cards-slider {
  display: flex;
  gap: 30px;
  padding: 20px 0px;
}

.news-card {
  width: 390px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 0 0 auto;
}



.food-img {
  width: 100%;
}

.food-img img {
  width: 100%;
  transition: transform 0.3s ease;
}

.news-card:hover .food-img img {
  transform: scale(1.1);
}

.news-info {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-analytics {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-container {
  background: var(--primary-clr);
  color: white;
  padding: 8px 16px;
  gap: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-container h6 {
  font-size: 24px;
  font-weight: 700;
}

.date-container h5 {
  font-size: 12px;
  font-weight: 400;
}

.author-info,
.category-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--light-gray-clr);
}


.news-info h3 {
  font-size: 22px;
  font-weight: 700;
  color: #333;
  line-height: 1.4;
  transition: color 0.3s ease;
}

.news-info h3:hover {
  color: var(--primary-clr);
}

.news-info a {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  width: fit-content;
  color: var(--light-gray-clr);
}

.news-info span{
  font-size: 16px;
  font-weight: 500;
  
}

.news-info i {
  transform: rotate(-45deg) translateY(-1px);

}

.news-info a:hover
{ 
  color: var(--primary-clr);
}



@media screen and (max-width:1400px) {
    

  
    /* Card section */
    .card-container-wrapper{
        max-width: 1250px;
    }


    /* News Section */
    .news-cards-wrapper{
      width: 1100px;
    }

    .news-card{
      width: 350px;
    }
    


    /* Menu section */

    .categories-container{
      flex-wrap: wrap;
      gap: 10px;
    }

    .category{
      width: 30%;
    }
    
    .menu-container{
      max-width: 1100px;
      width: 90%;
    }


    /* About us section */
    .aboutus-container-wrapper{
      gap: 150px;
    }

    .aboutus-container-wrapper .img-container{
      width: 50%;
      margin-left: -200px;
    }

    
}










@media  screen and (max-width:1200px) {


  /* Card section */

  .card-container-wrapper{
        max-width: 1100px;
    }
  .card-container{
    flex-wrap: wrap;
  }

  .card{
    width: 45%;
  }


  /* Offer section */
  .offer{
    flex-direction: column-reverse;
    padding: 50px;
  }

  .offer-image{
    width: 90%;
  }

  .offer-content{
    width: 80%;
  }

  /* Team section */
  .card-wrapper{
    flex-wrap: wrap;
    padding-top: 250px;
    margin-bottom: -150px;
  }

  .chef-card-container{
    width: 450px;
  }
  .chef-img{
    top: -250px;
  }

  /* Testimonial section */
  .testimonial-thumb img{
    opacity: 0.5;
  }


  /* News section */
  .news-cards-wrapper{
      width: 900px;
      
    }

    .news-card{
      width: 420px;
    }


    /* About us section */
    .aboutus-container-wrapper{
      flex-direction: column;
      gap: 50px;
    }

    .aboutus-container-wrapper .img-container{
      width: 100%;
      margin-left: -100px;
    }

    .img-container img{
      width: 100%;
    }

    .about-side-img{
      display: none;
    }

    .content-container{
      max-width: 800px;
      width: 80%;
      margin: auto;
    }


   
    

}





@media screen and (max-width:980px) {


  /* Card section */

  .card-wrapper{
    margin: auto;
  }

  .card-container-wrapper{
        width: 80%;
    }

  .card{
    width: 100%;
    padding: 20px;
  }

  .card-content{
    width: 70%;
    margin-top: 50px;
    gap: 20px;
  }



    /* Team section */

  .chef-card{
    width: 500px;
  }
  .chef-img{
    top: -270px;
  }

  /* Testimonial section */
  .testimonial-thumb{
    width: 100%;
  }

  .testimonial-thumb img{
    max-width: 100%;
  }

  .title-area h2{
    font-size: 34px;
  }

  .testimonials-content{
    width: 60%;
    left: 20%;
    top: 50px;
  }


  /* News card section */
.news-cards-wrapper{
      width: 700px;
      
    }

    .news-card{
      width: 330px;
    }


    /* Offer section */
    .offer{
      width: 80%;
      padding: 30px;
    }

    .offer-image{
    width: 100%;
  }

  .offer-content{
    width: 100%;
  }



}


@media screen and (max-width:768px) {


  /* Marquee */
  .marquee-item{
    font-size: 60px;
  }

  .marquee-section {
    padding-top: 20px;
  }

  .slider-portion{
    padding-top: 0px;
    padding-bottom: 30px;
  }


  /* Card section */

  .card{
    flex-direction: column-reverse;
    gap: 30px;
  }

  .card-container-wrapper{
    width: 540px;
  }

  .card-image{
    width: 400px;
  }

  .card-content{
    width: 50%;
    gap: 20px;
  }

  .card-sliding-img{
    left: 40px;
  }

  /* Team section */
  
  .chef-card{
    width: 100%;
  }
  .chef-img{
    top: -80%;
  }


  /* Testimonial section */
  .testimonials-content{
    width: 40%;
    left: 5%;
    align-items: flex-start;
    gap: 10px;
  }

  .title-area{
    width: 450px;
    align-items: flex-start;
  }
  .title-area h2{
    font-size: 28px;
  }

  .testimonial{
    height: 350px;
  }

  .testimonial-slider-wrapper{
    max-width: 450px;
  }

  .testimonial-description{
    font-size: 20px;
    line-height: 1.3;
  }

  @keyframes slide-testimonial {
  0%,
  29% {
    transform: translateX(0%);
  }
  33%,
  62% {
    transform: translateX(calc(-450px * 1));
  }
  66%,
  95% {
    transform: translateX(calc(-450px * 2));
  }
  100% {
    transform: translateX(0%);
  }
}


/* News card section */
.news-cards-wrapper{
      width: 500px;
      
    }

    .news-card{
      width: 500px;
    }

    .main-title-area h2{
      font-size: 35px;
      text-align: center;
    }

    .team-section .main-title{
      font-size: 35px;
      text-align: center;
    }




    /* Offer section */
    .offer{
      width: 100%;
      padding: 50px;
    }

    .offer-image{
    width: 480px;
  }

  .offer-content{
    width: 100%;
    gap: 20px;
    padding-top: 30px;
  }

  .offer-tl-img,
  .offer-bl-img,
  .offer-br-img{
  display: none;
}

  /* about us section */

  
.features-grid {
flex-direction: column;
}

.feature-box {
  width: 100%;
}

.feature-box:nth-of-type(2) {
  padding-left: 0;
  padding-top: 20px;

  border-left: none;
  border-top: 1px solid var(--light-gray-clr);
}

.aboutus-container-wrapper .img-container{
      margin-left: -50px;
    }
}






@media  screen and (max-width:540px) {



  /* Card section */
  .card-container-wrapper{
    min-width: 480px;
    width: 100%;
  }
  
  .card-image{
    width: 350px;
  }
  
  .card-content{
    width: 100%;
  }

  /* Testimonial section */
  .quote-img {
  top: 10px;
  right: 20px;
  width: 50px;
}

  .testimonials-content {
    width: 80%;
    max-width: 100%;
    left: 0;
    padding: 0 20px;
  }

  .title-area {
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
  }

  .testimonial-slider-wrapper {
    max-width: 350px;
    overflow-x: hidden;
  }


  .testimonial-description {
    font-size: 18px;
  }

  @keyframes slide-testimonial {
  0%,
  29% {
    transform: translateX(0%);
  }
  33%,
  62% {
    transform: translateX(calc(-350px * 1));
  }
  66%,
  95% {
    transform: translateX(calc(-350px * 2));
  }
  100% {
    transform: translateX(0%);
  }
}


/* News card section */
.news-cards-wrapper{
      width: 90%;
      
    }

    .news-card{
      width: 100%;
    }




    /* Offer section */
    .offer{
      padding: 10px;
    }

    .offer-image{
    width: 100%;
  }

  .offer-content{
    width: 100%;
  }

  .offer-content h3{
    font-size: 35px;
  }


  /* About us section */
  .section-title .main-heading{
    font-size: 30px;
  }

  .feature-box h4{
    font-size: 18px;
  }

  .content-container{
    width: 90%;
  }

}


@media screen and (max-width:480px) {


  /* Testimonial Section */
  
  .testimonial-slider-wrapper {
    max-width: 320px;
    overflow-x: hidden;
  }

  @keyframes slide-testimonial {
  0%,
  29% {
    transform: translateX(0%);
  }
  33%,
  62% {
    transform: translateX(calc(-320px * 1));
  }
  66%,
  95% {
    transform: translateX(calc(-320px * 2));
  }
  100% {
    transform: translateX(0%);
  }
  
}


  /* Team section */

  .chef-img{
    top: -60%;
  }

  .chef-card{
    height: 260px;
  }

  .chef-card-container{
    height: 450px;
  }
  .card-wrapper{
    margin-bottom: -200px;
    padding-top: 140px;
    padding-bottom: 100px;
  }


  /* Card Section */
  .card-container-wrapper{
    width: 100%;
    min-width: 0;
  }
  
  .card-image{
    width: 250px;
  }

  /* About section */
  .content-container{
    width: 100%;
  }

  .aboutus-container-wrapper .img-container{
    margin-left: -20px;
  }




}