

/* About us section */

.aboutus-section {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-clr);
  position: relative;
}

.aboutus-container-wrapper {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  gap: 70px;
}

.img-container {
  width: 60%;
  margin-left: -250px;
}

.img-container img {
  max-width: 120%;
  display: block;
  height: auto;
}

.content-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
  z-index: 2;
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}
.section-title .subtitle {
  font-size: 16px;
  font-weight: 700;
  color: var(--orange-bg-clr);
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

.section-title .main-heading {
  font-size: 40px;
  font-weight: 900;
  color: black;
  line-height: 1.2;
}

.section-title .description {
  font-size: 16px;
  color: var(--light-gray-clr);
  line-height: 1.7;
  margin-top: 5px;
  font-weight: 400;
}

.features-grid {
  display: flex;
  border-top: 1px solid var(--light-gray-clr);
  border-bottom: 1px solid var(--light-gray-clr);
  padding-top: 30px;
}

.feature-box {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 45%;
  padding: 10px 20px 10px 0px;
}

.feature-box:nth-of-type(2) {
  padding-left: 20px;
  border-left: 1px solid var(--light-gray-clr);
}

.feature-box .icon {
  width: 15%;
}

.feature-box h4 {
  font-size: 20px;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}

.feature-box p {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-gray-clr);
  line-height: 1.8;
}

.about-side-img {
  position: absolute;
  right: 0;
  top: 10%;
}





























@media screen and (max-width:1400px) {
    

  
   


    


    /* About us section */
    .aboutus-container-wrapper{
      gap: 150px;
    }

    .aboutus-container-wrapper .img-container{
      width: 50%;
      margin-left: -200px;
    }

    
}










@media  screen and (max-width:1200px) {




    /* About us section */
    .aboutus-container-wrapper{
      flex-direction: column;
      gap: 50px;
    }

    .aboutus-container-wrapper .img-container{
      width: 100%;
      margin-left: -100px;
    }

    .img-container img{
      width: 100%;
    }

    .about-side-img{
      display: none;
    }

    .content-container{
      max-width: 800px;
      width: 80%;
      margin: auto;
    }


   
    

}




@media screen and (max-width:768px) {


  
  /* about us section */

  
.features-grid {
flex-direction: column;
}

.feature-box {
  width: 100%;
}

.feature-box:nth-of-type(2) {
  padding-left: 0;
  padding-top: 20px;

  border-left: none;
  border-top: 1px solid var(--light-gray-clr);
}

.aboutus-container-wrapper .img-container{
      margin-left: -50px;
    }
}






@media  screen and (max-width:540px) {



  /* About us section */
  .section-title .main-heading{
    font-size: 30px;
  }

  .feature-box h4{
    font-size: 18px;
  }

  .content-container{
    width: 90%;
  }

}


@media screen and (max-width:480px) {



  /* About section */
  .content-container{
    width: 100%;
  }

  .aboutus-container-wrapper .img-container{
    margin-left: -20px;
  }




}