


@media (max-width: 1130px) {

    .mobile-nav-bar{
        display: flex;
    }
    
    .transparent-header, .filled-header {
        display: none;
    }

    .basic-header{
        padding: 10px 20px;
    }

    .foreground-layer{
        top: 70px;
    }

    .right-nav .btn {
        font-size: 16px;
        padding: 9px 30px;
    }

    .right-nav{
        gap: 10px;
    }
    
    .left-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;
    }

    .wrapper{
        margin-top: 0px;
    }

    .hero-section{
        padding-top: 150px;
    }

    .hero-heading{
        font-size: 40px;
    }

    .features-heading{
        font-size: 26px;
    }

    .software-heading{
        font-size: 26px;
    }

    .packages-heading{
        font-size: 26px;
    }

    .team-heading{
        font-size: 26px;
    }

    .news-heading{
        font-size: 26px;
    }

    .review-heading{
        font-size: 26px;
    }

    .contact-heading{
      font-size: 26px;
    }

    .contact-right h2{
    font-size: 26px;
  }

  .faq-heading{
    font-size: 26px;
  }
    .features-section{
        padding-top: 50px;

    }

    .software-section{
        padding: 50px 0px;
    }

    .news-section{
        padding: 50px 0px;
    }

    .review-section{
        padding: 50px 0px;
    }

    .update-section{
      padding: 50px 0px;
    }

    .contact-section {
      padding: 50px 0px;
    }

    .faq-section{
      padding: 50px 0px;
    }

    .team-section{
      padding: 50px 0px;
    }


    .story-section-content {
    flex-direction: column;
    align-items: center;
  }

  .left-side, .right-side {
    width: 90%;
  }


  .card {
    width: 290px;
    background-color: white;
    align-items: center;
  }

  .card p{
    color: var(--light-text-color);
  }

  .card i {
    color: rgb(74, 196, 243);
  }

  .card h3{
    color: black;
  }

  .card > * {
    text-align: center;
  }




  .slide-container {
    max-width: 500px;
  }


  .packages-section{
    padding: 50px 0px;
  }


  .contact-flex{
    flex-direction: column;
  }

  .contact-left,
  .contact-right{
    width: 80%;
  }


  .center-col, .left-col, .right-col{
    width: 45%;
    min-width: 330px;
  }
  
  .footer-flex{
    flex-wrap: wrap;
  }

  .right-col{
    padding: 10px;
  }


  .footer-bottom{
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
  }


  /* team slider */

  .team-slider{
    width: 85%;
  }

  .team-card{
    min-width: 48%;
  }
    
}


@media (max-width:740px) {
    .feature{
        flex-wrap: wrap;
        max-width: 450px;
        width: 90%;
    }

    .single-feature-heading,
    .single-feature-description{
        text-align: center;
    }

    .feature-flex{
        gap: 20px;
    }

    .card {
    width: 500px;
    
  }

  

  

  .right-side{
    justify-content: center;
  }



  .story-section-content{
    width: 600px;
  }

  .right-nav{
        display: none;
    }

    .left-nav{
        width: 75%;
        justify-content: space-between ;
        
    }

    .hero-heading{
        font-size: 30px;
    }


    .software-slider-wrapper{
        padding: 20px 10px;
    }

  .slide-container {
    max-width: 350px;
  }

  .package{
    max-width: 600px;
    width: 80%;
  }
  
.reviews-wrapper{
    max-width: 520px;
    width: 100%;
    padding: 10px;
  }

  .review p{
    font-size: 16px;
  }

  .review{
    min-width: 500px;
    padding: 20px;
  }

  .update-content{
    width: 80%;
  }

  .update-content h3{
    font-size: 20px;
  }

  .contact-left,
  .contact-right{
    width: 100%;
  }


  .faq-flex{
    flex-direction: column-reverse;
  }

  .faq-left, .faq-right{
    width: 100%;
  }


  .center-col, .left-col, .right-col{
    width: 100%;
  }

  .footer-flex{
    width: 85%;
    margin: auto;
    gap: 30px;
  }

  .right-col{
    padding: 30px;
    gap: 20px;
  }


  .absolute-card-info h4 {
    font-size: 1rem;
  }

  .absolute-card-info span {
    font-size: 0.8rem;
  }

  .hero-description{
    width: 90%;
  }
  
}


@media (max-width:530px) {
    

    .story-section{
        padding: 40px 10px;
        justify-content: center;
        align-items: center;
    }
    .story-section-content{
        width: 100%;
  }


  .left-first .heading,
  .left-second .heading {
    font-size: 26px;
  }

  .left-first p {
    font-size: 14px;
  }

  .readmore-btn {
    padding: 12px 24px;
    font-size: 14px;
  }

.reviews-wrapper{
    max-width: 90%;
    /* width: 100%; */
    padding: 10px;
  }


  .review{
    min-width: 100%;
    padding: 10px;
  }

  .hero-heading{
    font-size: 26px;
  }


}



@media (max-width: 700px) {
  .team-card{

    width: 100%;
    flex-shrink: 0;

  }
}

@media (max-width: 500px) {
  /* .team-slider {
    width: 100%;
    overflow: hidden;
  }

  .team-flex {
    width: max-content;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .team-card {
    width: 100vw;
    flex-shrink: 0;
  }

  .slider-btns {
    justify-content: center;
    margin-top: 10px;
  }

  .slider-btns button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  } */
}


